{% extends "base.html" %}
{% load tailwind_filters %}
{% load crispy_forms_tags %}

{% block content %}

<section class="text-gray-600 body-font overflow-hidden">
  <div class="container mx-auto">
    <div class="lg:w-4/5 mx-auto flex flex-wrap">
      
      <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0 max-w-lg mx-auto">
        <a class="hover:text-gray-200 text-gray-400" href="{% url 'roadmap:career-roadmap' member.member.pk %}">Go back to roadmap</a>
      <hr/>
      <div class="py-5 border-5 border-gray-200">
          <h1 class="text-4xl text-gray-200">Update targets</h1>
      </div>
        <div class="flex">
        </div>
        <form method="post" class="[&_label]:text-gray-400">
          {% csrf_token %}
          <!-- Scrollable box -->
          <div class="border border-gray-300 rounded-md p-4 mb-4 overflow-y-auto">
  
              <!-- Skill info -->
              <div class="grid gap-4">
                  {{ form.target_role|as_crispy_field }}
              </div>
          </div>
  
          <!-- Submit button -->
          <button type="submit" class="flex m-auto mb-5 mt-3 text-white bg-slate-900 border-2 border-double border-gray-200 py-2 px-20 focus:outline-none rounded">
            Submit
        </button>
      </form>
      </div>
    </div>
  </div>
</section>
{% endblock content %}